
.userInfo {
    padding: 1em;
    border: 1px #777 solid;
}

.profile-pic {
    border: 1px #333 solid;
    border-radius: 50%;
    
}

.my-table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.first-col {
    display: flex;
    justify-self: start;
}

.second-col {
    display: flex;
    justify-content: start;
    padding-left: 1em;
}