.iTruckViewer {
    border: 1px solid gray;
    opacity: 80%;
    color: darkslategray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5em;
}