.trucksPage {

}

.trucksPage table tr {
    display:flex;
    flex-direction: row;
}

.trucksPage table tr td {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trucksPage table tr td img {
    margin-right: 1em;
}

.name {
    margin-right: 1em;
}

.license {
    font-size: small;
    color: darkslategray;
    margin-right: 9em;
}